:root {
    --primary-color: #3e7e86;
    --background-color: #ffffff;
    --card-bg: #ffffff;
    --text-primary: #1f2937;
    --text-secondary: #4b5563;
    --cell-ignored-color: #9ca3af;
    --input-bg: #f9fafb;
    --upload-success-color: #10b981;
}

body.dark {
    --background-color: #121212;
    --card-bg: #1e1e24;
    --text-primary: #e0e0e0;
    --text-secondary: #aaaaaa;
    --icon-color: #ffffff;
    --cell-ignored-background: #1e1e24;
    --autofilled-color: #666666;
    --border-color: #4b5563;
    --primary-color-rgb: 62, 126, 134;
    --input-bg: #2a2a30;
    --modal-bg: #24242a;
    --dropzone-border: #4b5563;
    --cloud-icon-bg: rgba(59, 130, 246, 0.2);
    --file-item-bg: rgba(16, 185, 129, 0.1);
    --file-item-border: rgba(16, 185, 129, 0.2);
    --file-item-hover-bg: rgba(239, 68, 68, 0.1);
    --file-item-hover-border: rgba(239, 68, 68, 0.2);
    --header-background-color: color-mix(in srgb, #1e1e24, #fff 7.000000000000001%);
}

body.light {
    --background-color: #ffffff;
    --card-bg: #ffffff;
    --text-primary: #1f2937;
    --text-secondary: #4b5563;
    --icon-color: #000000;
    --cell-ignored-background: #e5e7eb;
    --autofilled-color: #bfc5c5;
    --border-color: #ced4da;
    --primary-color-rgb: 62, 126, 134;
    --input-bg: #f8f9fa;
    --modal-bg: #f9fafb;
    --dropzone-border: #cbd5e1;
    --cloud-icon-bg: #eff6ff;
    --file-item-bg: #ecfdf5;
    --file-item-border: #d1fae5;
    --file-item-hover-bg: #fef2f2;
    --file-item-hover-border: #fee2e2;
    --header-background-color: color-mix(in srgb, #fff, #181d1f 15.000000000000001%);
}

.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    text-align: center;
    color: var(--primary-color);
}

h2 {
    color: var(--text-primary);
}

.layout {
    display: flex;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

main {
    flex: 1;
    overflow: auto;
    background-color: var(--background-color);
}

.icon-big {
    display: inline-block;
    width: 50px;
    height: 50px;
    background-color: var(--primary-color, var(--text-secondary));
    -webkit-mask-size: contain;
    mask-size: contain;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-position: center;
    mask-position: center;
    flex-shrink: 0;
}
