@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
:root {
    --primary-color: #3e7e86;
    --dark-primary-color: #31656b;
    --background-color: #f0f0f0;
    --surface-color: #e9e9e9;
    --text-primary: #333333;
    --text-secondary: #4b5563;
    --error-color: #ff6b6b;
}
body {
    background-color: var(--background-color);
    font-family: "Inter", sans-serif;
    padding: 0px;
}

.title {
    color: var(--text-primary);
    padding: 0;
    margin: 0;
}

.subtitle {
    color: var(--text-secondary);
    font-weight: 500;
}

.button {
    all: unset;
    background-color: var(--primary-color);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 4vh;
    border-radius: 10px;
    font-size: 135%;
    color: var(--background-color);
    cursor: pointer;
    transition: all 1s ease;
}

.button:hover {
    background-color: var(--dark-primary-color);
}
.button:active {
    opacity: 0.8;
    transform: scale(0.98);
    transition: all 0.8s ease;
}
.button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}
p {
    margin: 0;
}

.input input {
    all: unset;
    box-shadow: 0;
    border-radius: 10px;
    background-color: #f3f4f6;
    width: 90%;
    height: 4vh;
    margin-left: 1.1vw;
    padding-left: 0.3vw;
}

.input {
    width: 100%;
    height: 6.5vh;
    margin-bottom: 0.4vh;
}
