/node_modules
.DS_Store
/.vs_code
./server/node_modules
jsconfig.json
install-all.sh
server/upload/*
!server/upload/.gitkeep
/server/debug
/server/server.log
/server/database/*.db-shm
/server/database/*.db-wal
/token_fac.txt
/authentification.log
