.icon {
    display: inline-block;
    mask-size: contain;
    -webkit-mask-size: contain;
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
    mask-position: center;
    -webkit-mask-position: center;
    background-color: currentColor;
}

.icon-small {
    width: 14px;
    height: 14px;
}

.icon-medium {
    width: 16px;
    height: 16px;
}

.icon-large {
    width: 18px;
    height: 18px;
}

.icon-xl {
    width: 20px;
    height: 20px;
}

.icon-xxl {
    width: 24px;
    height: 24px;
}

.icon-xxxl {
    width: 40px;
    height: 40px;
}

.icon-primary {
    background-color: var(--primary-color);
}

.icon-red {
    background-color: var(--error-color);
}

.icon-white {
    background-color: white;
}

.icon-success {
    background-color: var(--upload-success-color);
}

.icon-warning {
    background-color: var(--warning-color);
}

.icon-text-secondary {
    background-color: var(--text-secondary);
}

.icon-pending {
    background-color: var(--badge-pending-text);
}

.icon-check-success {
    mask-image: url(../assets/check_success.svg);
    -webkit-mask-image: url(../assets/check_success.svg);
}

.icon-trash {
    mask-image: url(../assets/trash.svg);
    -webkit-mask-image: url(../assets/trash.svg);
}

.icon-history {
    mask-image: url(../assets/history.svg);
    -webkit-mask-image: url(../assets/history.svg);
}

.icon-notification {
    mask-image: url(../assets/notification.svg);
    -webkit-mask-image: url(../assets/notification.svg);
}

.icon-x {
    mask-image: url(../assets/x.svg);
    -webkit-mask-image: url(../assets/x.svg);
}

.icon-previous {
    mask-image: url(../assets/previous.svg);
    -webkit-mask-image: url(../assets/previous.svg);
}

.icon-promo {
    mask-image: url(../assets/student_list.svg);
    -webkit-mask-image: url(../assets/student_list.svg);
}

.icon-group {
    mask-image: url(../assets/add-group.svg);
    -webkit-mask-image: url(../assets/add-group.svg);
}

.icon-add {
    mask-image: url(../assets/add_circle.svg);
    -webkit-mask-image: url(../assets/add_circle.svg);
}

.icon-subject {
    mask-image: url(../assets/file_document.svg);
    -webkit-mask-image: url(../assets/file_document.svg);
}

.icon-triple-dot {
    mask-image: url(../assets/triple-dot.svg);
    -webkit-mask-image: url(../assets/triple-dot.svg);
}

.icon-export {
    mask-image: url(../assets/export.svg);
    -webkit-mask-image: url(../assets/export.svg);
}

.icon-search {
    mask-image: url(../assets/search.svg);
    -webkit-mask-image: url(../assets/search.svg);
}

.icon-edit {
    mask-image: url(../assets/edit.svg);
    -webkit-mask-image: url(../assets/edit.svg);
}

.icon-eye {
    mask-image: url(../assets/eye.svg);
    -webkit-mask-image: url(../assets/eye.svg);
}

.icon-eye-close {
    mask-image: url(../assets/eye_close.svg);
    -webkit-mask-image: url(../assets/eye_close.svg);
}

.icon-check {
    mask-image: url(../assets/check.svg);
    -webkit-mask-image: url(../assets/check.svg);
}

.icon-check-circle {
    mask-image: url(../assets/circle-check.svg);
    -webkit-mask-image: url(../assets/circle-check.svg);
}

.icon-alert-circle {
    mask-image: url(../assets/circle-alert.svg);
    -webkit-mask-image: url(../assets/circle-alert.svg);
}

.icon-clock {
    mask-image: url(../assets/clock.svg);
    -webkit-mask-image: url(../assets/clock.svg);
}

.icon-archive {
    mask-image: url(../assets/file_document.svg);
    -webkit-mask-image: url(../assets/file_document.svg);
}

.icon-circle-x {
    mask-image: url(../assets/x.svg);
    -webkit-mask-image: url(../assets/x.svg);
}

.icon-arrow-right {
    mask-image: url(../assets/arrow_right.svg);
    -webkit-mask-image: url(../assets/arrow_right.svg);
}

.icon-file-text {
    mask-image: url(../assets/file_document.svg);
    -webkit-mask-image: url(../assets/file_document.svg);
}

.icon-message-square {
    mask-image: url(../assets/message_square.svg);
    -webkit-mask-image: url(../assets/message_square.svg);
}

.icon-import {
    mask-image: url(../assets/import.svg);
    -webkit-mask-image: url(../assets/import.svg);
}

.icon-chevron-left {
    mask-image: url(../assets/chevron_left.svg);
    -webkit-mask-image: url(../assets/chevron_left.svg);
}

.icon-chevron-right {
    mask-image: url(../assets/chevron_right.svg);
    -webkit-mask-image: url(../assets/chevron_right.svg);
}

.icon-list {
    mask-image: url(../assets/list.svg);
    -webkit-mask-image: url(../assets/list.svg);
}

.icon-download {
    mask-image: url(../assets/download.svg);
    -webkit-mask-image: url(../assets/download.svg);
}

.icon-justifier-admin {
    mask-image: url(../assets/justifier-admin.svg);
    -webkit-mask-image: url(../assets/justifier-admin.svg);
}

.icon-settings-2 {
    mask-image: url(../assets/settings-2.svg);
    -webkit-mask-image: url(../assets/settings-2.svg);
}

.icon-refresh {
    mask-image: url(../assets/refresh.svg);
    -webkit-mask-image: url(../assets/refresh.svg);

    transition: transform 0.5s ease-in-out;
}


.icon-refresh:hover {
    animation: spin 0.6s linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (max-width: 768px) {
    .icon-refresh:hover {
        animation: none;
    }
}