.login-container {
  width: 100vw;
  height: 100vh;
  display: flex;

  justify-content: center;
  align-items: center;
}

.login-form-container {
  display: flex;
  justify-content: center;
  align-content: space-between;
  flex-direction: column;
  gap: 1vh;
  height: 60%;
  width: 32%;
  border-radius: 3%;
  background-color: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0vw 0.6vh 2.68vh 0vh;
}
