.rollCallList-container {
    flex: 1;
    width: 100%;
}

.rollCallList-empty {
    text-align: center;
    margin-top: 2rem;
    color: var(--text-secondary);
}

.rollCallList-container .ag-paging-panel {
    flex-wrap: nowrap !important;
    align-items: center !important;
    font-size: 0.9rem !important;
}

.rollCallList-container .ag-paging-row-summary-panel,
.rollCallList-container .ag-paging-page-summary-panel,
.rollCallList-container .ag-paging-page-size {
    display: flex !important;
    flex-direction: row !important;
    align-items: center !important;
    white-space: nowrap !important;
}

.rollCallList-container .ag-paging-page-size {
    margin-right: auto;
}
