PORT=3000
# generate JWT_SECRET : node -e "console.log(require('crypto').randomBytes(128).toString('hex'))"
JWT_SECRET="CHANGE_ME_IN_PRODUCTION"
CORS_ORIGIN="https://CHANGE_ME_IN_PRODUCTION.COM"
# DEV_AUTH: Set to "true" to bypass LDAP with simulated users in Dev. NEVER set to true in Prod.
ENABLE_DEV_AUTH="false"
